{% extends 'ratethiscourse/base.html' %}

{% block title %}Add Module{% endblock %}

{% block body_block %}

{% load bootstrap %}
<h1> Add a module </h1>
        {% if not name %}
            <div class="alert alert-warning">
                The module addition was unsuccessful
            </div>
        {% elif name == "NotPosted" %}
        
        {% else %}
            <div class="alert alert-success">The module addition was successful</div>
        {% endif %}

         <form id="add_module_form" method="post" action="/ratethiscourse/add_module/" class="form-horizontal">

                {% csrf_token %}
                {% for hidden in moduleform.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in moduleform.visible_fields %}
                <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-1">
                    {{ field|bootstrap_horizontal }}
                    </div>
                </div>
                {% endfor %}    
                <input type="submit" name="submit" value="Add module" class="btn btn-primary"/>
            </form>
{% endblock %}