{% extends 'ratethiscourse/base.html' %}
{% block title %}{{course_name}}{% endblock %}
{% block body_block %}
<div class="panel-body" style="background-color:white; -moz-border-radius: 5px;
    border-radius: 5px;">
    <ol class="breadcrumb">
        <li><a href="/ratethiscourse/">Home</a></li>
        <li><a href="/ratethiscourse/university/">Universities</a></li>
        <li><a href="/ratethiscourse/university/{{uni_name_url}}/">{{uni_name}}</a></li>
        <li class="active">{{course_name}}</li>
    </ol>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{course_name}}
            </h3>
        </div>
    </div>
        {% if course_name %}
        {% if modules %}
        <div class="list-group">
            {% for module in modules %}
            <a href="/ratethiscourse/university/{{ uni_name_url }}/{{ course_name_url }}/{{ module.1 }}" class="list-group-item" style="background-color:white;">
                <h4>
                    {{ module.0 }}
                    {% if module.2 == "No Ratings" %}
                    <span class="badge">{{module.2}}</span> 
                    {% else %}
                    <span class="badge">{{module.2}}/5</span> 
                    {% endif %}
                </h4>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning">
            No modules currently in {{ course_name }}.
        </div>
        {% endif %}
        {% else %}
        <div class="alert alert-danger">
            The specified course, {{ course_name }}, does not exist!
        </div>
        {% endif %}
</div>
{% endblock %}