<!DOCTYPE html>
<html>
    <head>
        <title>Rate My Course</title>
    </head>

    <body>
        {% if not course_name %}
            <div style="color: red;">The specified category does not exist!</div>
        {% else %}
        <h1>{{ course_name }}</h1>

            <form id="rating_form" method="post" action="/ratethiscourse/university/{{uni_name_url}}/{{course_name_url}}/">

                {% csrf_token %}
                {% for hidden in rating_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in rating_form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text}}
                    {{ field }}
                {% endfor %}

                <input type="submit" name="submit" value="Add Rating" />
            </form>
                
            <h2> Avg Rating </h2>
                {{ rating }}
            
        {% endif %}

    </body>

</html>