<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Rate This Course</title>
    </head>

    <body>
        <img src="{% static "headerLogo.png" %}" alt="Rate This Course, page logo" /> <!-- New line -->
		<br>
		{% if user.is_authenticated %}
        <h1>Team H says .. hello {{user.username}}!</h1>
	<a href="/ratethiscourse/logout/">Logout</a><br />
	{% else %}
	<h1>Team H says .. </h1>
        hello world! <strong>{{ boldmessage }}</strong><br />
	<a href="/ratethiscourse/login/">Login</a><br />
	<a href="/ratethiscourse/register/">Register here</a><br />
	{% endif %}
	{% if universities %}
            <ul>
                {% for university in universities %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/ratethiscourse/university/{{ university.url }}">{{ university.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
	
	</body>

</html>
