{% extends 'ratethiscourse/base.html' %}
{% load static %}
{% block title %}Index{% endblock %}

{% block body_block %}
    <div class="jumbotron">
     
	  <p>  <font color="FFFFFF" size="24"> Welcome</font>
	   	   </p>
     
    </div>
	
    <div class="row">
        <div class="col-lg-4">
            <h3>Latest Ratings</h3>
            <table class="table table-striped">
                <tr>
                    <th> Rating </th>
                    <th> Module </th>
                </tr>
            {% for rating in ratings %}
                <tr>
                    <td>
                        {{ rating.0.value }}
                    </td>
                    <td>
                        <a href="/ratethiscourse/university/{{rating.1}}/{{rating.2}}/{{rating.3}}">
                        {{ rating.0.module }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-lg-4">
            <h3>Latest Comments</h3>
            <table class="table table-striped">
                <tr align="center">
                    <th align="center"> Comment </th>
                    <th align="center"> Module </th>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td>
                        {{ comment.0.message }}
                    </td>
                    <td>
                        <a href="/ratethiscourse/university/{{comment.1}}/{{comment.2}}/{{comment.3}}">
                        {{ comment.0.module }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="col-lg-4">
		 <div class="carousel">
            <h3>Top Rated Courses</h3>
			</div>
            <table class="table table-striped">
                <tr>
                    <th> Course </th>
                    <th> Average Rating </th>
                </tr>
                {% for top in topfive %}
                <tr>
                    <td><a href="/ratethiscourse/university/{{top.2}}/{{top.3}}">{{ top.0 }}:{{ top.0.university }}</a></td>
                    <td>{{ top.1 }}</td>
                </tr>
                {% endfor %}
	
            </table>
            <h3>Worst Rated Courses</h3>
            <table class="table table-striped">
                <tr>
                    <th> Course </th>
                    <th> Average Rating </th>
                </tr>
                {% for bottom in bottomfive %}
                <tr>
                    <td><a href="/ratethiscourse/university/{{bottom.2}}/{{bottom.3}}">{{ bottom.0 }}:{{ bottom.0.university }}</td>
                    <td>{{ bottom.1 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}