{% extends 'ratethiscourse/base.html' %}

{% block title %}{{module_name}}{% endblock %}

{% block body_block %}

{% load bootstrap %}
<ol class="breadcrumb">
    <li><a href="/ratethiscourse/">Home</a></li>
    <li><a href="/ratethiscourse/university/">Universities</a></li>
    <li><a href="/ratethiscourse/university/{{uni_name_url}}/">{{uni_name}}</a></li>
    <li><a href="/ratethiscourse/university/{{uni_name_url}}/{{course_name_url}}">{{course_name}}</a></li>
    <li class="active">{{module_name}}</li>
</ol>

{% if not module_name %}
    <div style="color: red;">The specified category does not exist!</div>
{% else %}
<div class="page-header">

  <h1>{{ module_name }}</h1>
      </div>
      <div class="well">

    <div class="row">
        <div class="col-lg-3">
            <h4> Module Code </h4>
        </div>
        <div class="col-lg-4">
            <h4> {{ module.code }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h4> Module Name </h4>
        </div>
        <div class="col-lg-4">
            <h4> {{ module.name }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h4> Module Year </h4>
        </div>
        <div class="col-lg-4">
            <h4> {{ module.year }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h4> Module Lecturer </h4>
        </div>
        <div class="col-lg-4">
            <h4> {{ module.lecturer }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h4> Module Description </h4>
        </div>
        <div class="col-lg-4">
            <h4> {{ module.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h4> Average Rating </h4>
        </div>
        <div class="col-lg-4">
            <h4> {{ rating }}
        </div>
    </div>
	</div>
    {% if user.is_authenticated %}
        {% if userprofile.isActive and auth %}
            <form id="rating_form" method="post" action="/ratethiscourse/university/{{uni_name_url}}/{{course_name_url}}/{{module_name_url}}/">
                

                {% csrf_token %}
                {% for hiddenrating in rating_form.hidden_fields %}
                    {{ hiddenrating }}
                {% endfor %}

                {% for hiddencomment in comment_form.hidden_fields %}
                    {{ hiddencomment }}
                {% endfor %}
                
                {% for fieldcomment in comment_form.visible_fields %}
                <div class="form-group">
                    {{ fieldcomment|bootstrap }}
                </div>
                {% endfor %}
                
                {% for fieldrating in rating_form.value %}
                <label class="radio-inline">
                    {{ fieldrating }}
                </label>
                {% endfor %}
                <br>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
            </form> 
        {% elif not auth %}
            <div class="alert alert-warning">
                You cannot comment on courses you are not part of.
            </div> 
        {% else %}
            <div class="alert alert-warning">
                You must be verified to add comments or ratings. Either verify your account with the link provided in your email or <a href="/ratethiscourse/resend_validation_email/">resend the validation email</a>
            </div> 
        {% endif %}
    {% else %}
        <div class="alert alert-warning">
            You must be signed in to comment or rate.
        </div>
    {% endif %}
    <h2> Comments </h2>
    <div class="list-group">
    {% for comment in comments %}
        <li class="list-group-item"> {{ comment }} </li>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}