{% extends 'ratethiscourse/base.html' %}

{% block title %} Sign Up {% endblock %}

{% block body_block %}

{% load bootstrap %}
<ol class="breadcrumb">
    <li><a href="/ratethiscourse/">Home</a></li>
    <li class="active">Register</li>
</ol>
<h1>Register with Rate My Course</h1>
	{% if registered %}
	<div class="alert alert-success"> Registration Successful </div>
	<a href "/ratethiscourse/">Return to homepage.</a><br />
	{% else %}
	<form id="user_form" method="post" action="/ratethiscourse/register/" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}
		<div class="col-lg-5 col-lg-offset-1">
		{{ user_form|bootstrap_horizontal }}
		{{ profile_form|bootstrap_horizontal }}
		<!-- provide submit button -->
		<input type="submit" name="submit" value="Register" class="btn btn-primary"/>
		</div>
	</form>
{% endif %}
{% endblock %}