{% extends 'ratethiscourse/base.html' %}
{% block title %}Add Course{% endblock %}
{% block body_block %}
{% load bootstrap %}
{% load static %}
 <div class="panel-body" style="background-color:white; -moz-border-radius: 5px; border-radius: 5px;"> 
<ol class="breadcrumb">
    <li><a href="/ratethiscourse/">Home</a></li>
    <li class="active">Resend Validation Email</li>
</ol>
<div class="panel panel-default">
            <div class="panel-heading" style="background-color:#D52727; color:white;">
              <h3 class="panel-title"> Resend Validation Email</h3>
			</div>
</div>
{% if userauth == "anon" %}
<div class="alert alert-warning">
    Please sign in to resend a verification email.
</div>
{% else %}
{% if not sent %}
<div class="alert alert-warning">
    You are already verified, you do not need to reverify.
</div>
{% elif sent %}
<div class="alert alert-success">Verification email resent</div>
{% endif %}
{% endif %}
</div>
{% endblock %}
{% block page_specific_javascript %}
<script src="{% static 'js/ratethiscourse_block_submit_button.js' %}"></script>
{% endblock %}