<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Rate This Course - University Page</title>
    </head>

    <body>
        <h1>{{ uni_name }}</h1>
        {% if university %}
            {% if courses %}
            <ul>
                {% for course in courses %}
                <li><a href="/ratethiscourse/university/{{ uni_name_url }}/{{ course.1 }}/">{{ course.0 }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No courses currently in {{ uni_name }}.</strong>
            {% endif %}
        {% else %}
            The specified category {{ uni_name }} does not exist!
        {% endif %}
	</body>

</html>
