{% extends 'ratethiscourse/base.html' %}
{% load static %}
{% block title %}{{uni_name}}{% endblock %}

{% block body_block %}
 <div class="panel-body" style="background-color:white; -moz-border-radius: 5px;
  border-radius: 5px;"> 
<ol class="breadcrumb">
    <li><a href="/ratethiscourse/">Home</a></li>
    <li><a href="/ratethiscourse/university/">Universities</a></li>
    <li class="active">{{uni_name}}</li>
</ol>

      {% if uni_name == "University of Glasgow" %}
     		 <img src="{% static 'UoG_logo.jpg' %}" alt="Rate This Course" class="img"style="background-color:black; margin-right:5px; margin-left:5px;">
                <br>
			<div class="panel panel-info">
 
            <div class="panel-heading">
              <h3 class="panel-title">Description </h3>
            </div>
            <div class="panel-body">
            The University of Glasgow is the fourth-oldest university in the English-speaking world and one of Scotland's four ancient universities.
            </div>
          </div>
		   <div class="panel panel-info">
		   {% elif uni_name == "University of Strathclyde" %}
 
<img src="{% static 'UoS_logo.jpg' %}" alt="Rate This Course" class="img" style="background-color:black;">
                <br>
				  <br>
<div class="panel panel-danger">
 
            <div class="panel-heading">
              <h3 class="panel-title">Description </h3>
            </div>
            <div class="panel-body">
		 The University of Strathclyde is a Scottish public research university located in Glasgow, Scotland.
 </div>
          </div>	
<div class="panel panel-danger">		  
 {% else %} 
<div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title">{{ uni_name }} </h1>
            </div></div> 
 <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Description </h3>
            </div>
            <div class="panel-body">
			Information not currently available
		   </div>
          </div>
 <div class="panel panel-primary">
 {% endif %}
 
            <div class="panel-heading">
              <h3 class="panel-title">Degrees</h3> </div>
     <div class="panel-body" style="background-color:white; -moz-border-radius: 5px;
  border-radius: 5px;"> 
    {% if university %}
        {% if courses %}
        <div class="list-group">
            {% for course in courses %}
            <a href="/ratethiscourse/university/{{ uni_name_url }}/{{ course.1 }}/" class="list-group-item">
                <h4>
                    {{ course.0 }}
                    <span class="badge">{{course.2}}/5</span> 
                </h4>
            </a>
            {% endfor %}
        </div>
        {% else %}
            <div class="alert alert-warning">
                No courses currently in {{ uni_name }}.
            </div>
        {% endif %}
    {% else %}
    <div class="alert alert-danger">
        The specified university, {{ uni_name }}, does not exist!
    </div>
    {% endif %}
  </div>
  </div>
  </div>
{% endblock %}