{% extends 'ratethiscourse/base.html' %}
{% block title %}Add Module{% endblock %}
{% block body_block %}
{% load bootstrap %}
{% load static %}
<div class="panel-body" style="background-color:white; -moz-border-radius: 5px;
    border-radius: 5px;">
    <ol class="breadcrumb">
        <li><a href="/ratethiscourse/">Home</a></li>
        <li class="active">User Profile</li>
    </ol>
	<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">User Profile</h3>
        </div>   </div>
	<div class="container">

	 
	 <img src="{% static '' %}blueprof.png" alt="Rate This Course"class="img-thumbnail" align="center" style="width:30%;margin-bottom:2px;margin-top:2px;margin-left:5px;margin-right:5px;">

	<h4 style="margin-left:10px;margin-right:5px;"><strong>Name:</strong>  {{ user.first_name }} {{ user.last_name }}</h4>
	<h4 style="margin-left:10px;margin-right:5px;"><strong>E-mail:</strong>  {{ user.email }}</h4>
	<h4 style="margin-left:10px;margin-right:5px;"><strong>Attends:</strong> The {{ userprofile.university}}</h4>
<h4 style="margin-left:10px;margin-right:5px;"><strong>Degree:</strong> {{ userprofile.degree}}</h4>
<br>
</div> 
 <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Change Degree </h3>
        </div>    </div> 
	
	
    {% if userprofile.isActive %}
    {% if posted and success %}
    <div class="alert alert-success">
        Your course was successfully changed
    </div>
    {% elif posted and not sucess %}
    <div class="alert alert-warning">
        There was an error and your course was not changed
    </div>
    {% endif %}
    <form id="change_course_form" method="post" action="/ratethiscourse/user_profile/" class="form-horizontal">
        {% csrf_token %}
        {% for hidden in userprofileform.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in userprofileform.visible_fields %}
        <div class="form-group">
            <div class="col-lg-5 col-lg-offset-1">
                {{ field|bootstrap_horizontal }}
            </div>
        </div>
        {% endfor %}    
        <input type="submit" name="submit" value="Change course" class="btn btn-default"/>
    </form>
    {% else %}
    <div class="alert alert-warning">
        You must be verified to change courses. Either verify your account with the link provided in your email or <a href="/ratethiscourse/resend_validation_email/">resend the validation email</a>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block page_specific_javascript %}
<script src="{% static 'js/ratethiscourse_add_course_dropdown_validation.js' %}"></script>
{% endblock %}