{% extends 'ratethiscourse/base.html' %}

{% block title %}Add Course{% endblock %}

{% block body_block %}

{% load bootstrap %}
{% load static %}

<ol class="breadcrumb">
    <li><a href="/ratethiscourse/">Home</a></li>
    <li class="active">Validate User</li>
</ol>
<h1> Validate User </h1>
		{% if malformed %}
		    <div class="alert alert-warning">
            	The url entered was malformed and did not contain the correct data.
            </div>
        {% else %}
    		{% if not verify %}
	            <div class="alert alert-warning">
            		User validation was unsuccessful. Either you are already activated or activation failed.
            		Try <a href="/ratethiscouse/login/">signing in</a> or <a href="/ratethiscourse/resend_validation_email">resending the verification email</a>
            	</div>
    		{% elif verify %}
	            <div class="alert alert-success">Congratulations, you are now verified. You may now start posting ratings and comments!</div>
    		{% endif %}
    	{% endif %}
{% endblock %}