<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Rate This Course</title>
    </head>

    <body>
        <img src="{% static "headerLogo.png" %}" alt="Rate This Course, page logo" /> <!-- New line -->
		<br>
	{% if universities %}
            <ul>
                {% for university in universities %}
                <li>{{ university.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
	
	</body>

</html>
